In [1]:
#Checking current working directory
import os
print(os.getcwd())

C:\Users\P RAJ

In [2]:
#Setting working directory
# path = 'E:\\PYTHON\\jupyternotebook'
path = 'E:\\sagasit'
os.chdir(path)
print(os.getcwd())

E:\sagasit

In [3]:
# importing necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_excel("ebic1.xlsx")

In [14]:
df.dtypes.head()

Signupdate              datetime64[ns, UTC]
Agency Name                          object
Fundraiser full name                 object
Campaign Country                     object
team                                 object
dtype: object

In [10]:
df.head()

,Signupdate,Agency Name,Fundraiser full name,Campaign Country,team,Team Campaign Manager's first name,Pledge ID,Method of Fundraising,Team Location,Team Location Longitude,...,EARN 3,EARN 4,EARN 5,EARN 6,EARN 7,EARN 8,EARN 9,EARN 10,EARN 11,EARN 12
0,2018-09-18T16:25:12+10:00,Advanced Promotions,Zach Martin,AU,Brodie Quaas,Van Nafarette,5419535,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-09-17T12:45:44+10:00,Advanced Promotions,Brodie Quaas,AU,Brodie Quaas,Van Nafarette,5413105,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-09-14T12:09:19+10:00,Advanced Promotions,Zach Martin,AU,Brodie Quaas,Van Nafarette,5403582,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-09-13T11:57:49+10:00,Advanced Promotions,Joshua Allen,AU,Brodie Quaas,Van Nafarette,5397508,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-09-13T11:40:35+10:00,Advanced Promotions,Joshua Allen,AU,Brodie Quaas,Van Nafarette,5397512,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df.columns

Index(['Signupdate', 'Agency Name', 'Fundraiser full name', 'Campaign Country',
       'team', 'Team Campaign Manager's first name', 'Pledge ID',
       'Method of Fundraising', 'Team Location', 'Team Location Longitude',
       'Team Location Latitude', 'currency', 'amount', 'age', 'gender',
       'Email delivery status', 'SMS Delivery Status',
       'SupporterPaymentmethod', 'Card Brand', 'Card Type', 'Card Level',
       'Supporter Payment Frequency', 'First payment Instant',
       'Bank or Card Issuer', 'Campaign's Charity Name', 'Cancelled Reason',
       'Cancellation Category', 'Cancellation Outcome', 'Final Call Outcome',
       'Pledge Status', 'Validation Outcome', 'Supporter State',
       'Supporter Country', 'Consumer Price Index', 'EARN 1', 'EARN 2',
       'EARN 3', 'EARN 4', 'EARN 5', 'EARN 6', 'EARN 7', 'EARN 8', 'EARN 9',
       'EARN 10', 'EARN 11', 'EARN 12'],
      dtype='object')

In [29]:
#Checking the unique values
print(f'Amount: {df.amount.unique()}')
print(f'Team: {df.team.unique()}')
print(f'Gender: {df.gender.unique()}')

Amount: [35 25 33 20 30 45 10 22 34 32  5  1]
Team: ['Brodie Quaas' 'Joshua Allen' 'Zach Martin' 'Rory Meijnen'
 'Ashley Murrell' 'Justin Hoffmann' 'Van Sydney' 'Chloe Skinner'
 'Jt Fleming' 'John Unu' 'Scott Peachey' 'Sam Hughes' 'Rupert Nafarrete'
 'Tayla-Lee Bradshaw' 'Test Fundraiser']
Gender: ['Female' 'Male']

In [24]:
df[['Signupdate','Agency Name', 'Bank or Card Issuer']]

,Signupdate,Agency Name,Bank or Card Issuer
0,2018-09-18 06:25:12+00:00,Advanced Promotions,Greater Building Society Ltd
1,2018-09-17 02:45:44+00:00,Advanced Promotions,Westpac Banking Corporation
2,2018-09-14 02:09:19+00:00,Advanced Promotions,Newcastle Permanent Building Society Ltd
3,2018-09-13 01:57:49+00:00,Advanced Promotions,National Australia Bank
4,2018-09-13 01:40:35+00:00,Advanced Promotions,National Australia Bank
...,...,...,...
795,2018-11-21 23:49:31+00:00,Advanced Promotions,Commonwealth Bank Of Australia
796,2018-11-20 05:24:19+00:00,Advanced Promotions,Ing Bank (australia) Limited
797,2018-11-20 00:09:30+00:00,Advanced Promotions,Commonwealth Bank Of Australia
798,2018-11-19 04:58:29+00:00,Advanced Promotions,Commonwealth Bank Of Australia
799,2018-11-19 00:27:22+00:00,Advanced Promotions,St.george Bank

 # Please show the weekly collections for the entire dataset. Use Week numbers for indicating the same.**

In [8]:
df['Signupdate'] = pd.to_datetime(df.Signupdate, utc=True)

In [28]:
df['week_of_the_year'] = df['Signupdate'].dt.weekofyear
df.head()

,Signupdate,Agency Name,Fundraiser full name,Campaign Country,team,Team Campaign Manager's first name,Pledge ID,Method of Fundraising,Team Location,Team Location Longitude,...,EARN 4,EARN 5,EARN 6,EARN 7,EARN 8,EARN 9,EARN 10,EARN 11,EARN 12,week_of_the_year
0,2018-09-18 06:25:12+00:00,Advanced Promotions,Zach Martin,AU,Brodie Quaas,Van Nafarette,5419535,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
1,2018-09-17 02:45:44+00:00,Advanced Promotions,Brodie Quaas,AU,Brodie Quaas,Van Nafarette,5413105,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
2,2018-09-14 02:09:19+00:00,Advanced Promotions,Zach Martin,AU,Brodie Quaas,Van Nafarette,5403582,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
3,2018-09-13 01:57:49+00:00,Advanced Promotions,Joshua Allen,AU,Brodie Quaas,Van Nafarette,5397508,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37
4,2018-09-13 01:40:35+00:00,Advanced Promotions,Joshua Allen,AU,Brodie Quaas,Van Nafarette,5397512,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37

In [35]:
df.groupby(['week_of_the_year', 'amount']).sum()

                         Pledge ID  Method of Fundraising  Team Location  \
week_of_the_year amount
35               33        5333921                    0.0            0.0
36               1         5355022                    0.0            0.0
                 20       64261540                    0.0            0.0
37               20       10777531                    0.0            0.0
                 25       59365810                    0.0            0.0
                 30       16160243                    0.0            0.0
                 35      140160874                    0.0            0.0
38               20        5424456                    0.0            0.0
                 25       54216492                    0.0            0.0
                 30       10854613                    0.0            0.0
                 35       86766037                    0.0            0.0
                 45        5429490                    0.0            0.0
39               20        5445337                    0.0            0.0
                 25       87323680                    0.0            0.0
                 35      196525698                    0.0            0.0
40               20        5492616                    0.0            0.0
                 25       32908304                    0.0            0.0
                 35       87872382                    0.0            0.0
41               10        5513537                    0.0            0.0
                 22        5508561                    0.0            0.0
                 25       44142836                    0.0            0.0
                 30        5531601                    0.0            0.0
                 35      165647426                    0.0            0.0
42               20        5565578                    0.0            0.0
                 25      105503843                    0.0            0.0
                 30       33288622                    0.0            0.0
                 35      516536579                    0.0            0.0
43               25       44728571                    0.0            0.0
                 32        5608522                    0.0            0.0
                 35      106111276                    0.0            0.0
44               10        5632255                    0.0            0.0
                 20        5631799                    0.0            0.0
                 25       73107152                    0.0            0.0
                 34        5631178                    0.0            0.0
                 35      449751786                    0.0            0.0
                 45       11246266                    0.0            0.0
45               5         5646401                    0.0            0.0
                 10        5653644                    0.0            0.0
                 25       90472198                    0.0            0.0
                 30       28259108                    0.0            0.0
                 35      785934666                    0.0            0.0
                 45       33944993                    0.0            0.0
46               25      108063031                    0.0            0.0
                 34        5701921                    0.0            0.0
                 35      421054224                    0.0            0.0
                 45       22825400                    0.0            0.0
47               20       11443519                    0.0            0.0
                 25       62995289                    0.0            0.0
                 35      395185404                    0.0            0.0
                 45       22894349                    0.0            0.0

                         Team Location Longitude  Team Location Latitude  \
week_of_the_year amount
35               33                          0.0                     0.0
36               1                           0.0                     0.0
                 20                          0.0                     0.0
37               20                          0.0                     0.0
                 25                          0.0                     0.0
                 30                          0.0                     0.0
                 35                          0.0                     0.0
38               20                          0.0                     0.0
                 25                          0.0                     0.0
                 30                          0.0                     0.0
                 35                          0.0                     0.0
                 45                          0.0                     0.0
39               20                          0.0                     0.0
                 25                          0.0                     0.0
                 35                          0.0                     0.0
40               20                          0.0                     0.0
                 25                          0.0                     0.0
                 35                          0.0                     0.0
41               10                          0.0                     0.0
                 22                          0.0                     0.0
                 25                          0.0                     0.0
                 30                          0.0                     0.0
                 35                          0.0                     0.0
42               20                          0.0                     0.0
                 25                          0.0                     0.0
                 30                          0.0                     0.0
                 35                          0.0                     0.0
43               25                          0.0                     0.0
                 32                          0.0                     0.0
                 35                          0.0                     0.0
44               10                          0.0                     0.0
                 20                          0.0                     0.0
                 25                          0.0                     0.0
                 34                          0.0                     0.0
                 35                          0.0                     0.0
                 45                          0.0                     0.0
45               5                           0.0                     0.0
                 10                          0.0                     0.0
                 25                          0.0                     0.0
                 30                          0.0                     0.0
                 35                          0.0                     0.0
                 45                          0.0                     0.0
46               25                          0.0                     0.0
                 34                          0.0                     0.0
                 35                          0.0                     0.0
                 45                          0.0                     0.0
47               20                          0.0                     0.0
                 25                          0.0                     0.0
                 35                          0.0                     0.0
                 45                          0.0                     0.0

                          age  First payment Instant  Cancelled Reason  \
week_of_the_year amount
35               33        84                    0.0               0.0
36               1         28                    0.0               0.0
                 20       337                    0.0               0.0
37               20       101                    0.0               0.0
                 25       353                    0.0               0.0
                 30        84                    0.0               0.0
                 35       778                    0.0               0.0
38               20        30                    0.0               0.0
                 25       302                    0.0               0.0
                 30        51                    0.0               0.0
                 35       537                    0.0               0.0
                 45        26                    0.0               0.0
39               20        22                    0.0               0.0
                 25       491                    0.0               0.0
                 35      1026                    0.0               0.0
40               20        25                    0.0               0.0
                 25       235                    0.0               0.0
                 35       635                    0.0               0.0
41               10        26                    0.0               0.0
                 22        45                    0.0               0.0
                 25       389                    0.0               0.0
                 30        26                    0.0               0.0
                 35       957                    0.0               0.0
42               20        54                    0.0               0.0
                 25       749                    0.0               0.0
                 30       215                    0.0               0.0
                 35      3269                    0.0               0.0
43               25       323                    0.0               0.0
                 32        48                    0.0               0.0
                 35       823                    0.0               0.0
44               10        43                    0.0               0.0
                 20        62                    0.0               0.0
                 25       516                    0.0               0.0
                 34        26                    0.0               0.0
                 35      2624                    0.0               0.0
                 45        53                    0.0               0.0
45               5         48                    0.0               0.0
                 10        24                    0.0               0.0
                 25       573                    0.0               0.0
                 30       204                    0.0               0.0
                 35      4995                    0.0               0.0
                 45       161                    0.0               0.0
46               25       933                    0.0               0.0
                 34        54                    0.0               0.0
                 35      2500                    0.0               0.0
                 45       120                    0.0               0.0
47               20        92                    0.0               0.0
                 25       419                    0.0               0.0
                 35      2379                    0.0               0.0
                 45       119                    0.0               0.0

                         Consumer Price Index  EARN 1  ...  EARN 3  EARN 4  \
week_of_the_year amount                                ...
35               33                         1     0.0  ...     0.0     0.0
36               1                          1     0.0  ...     0.0     0.0
                 20                        11     0.0  ...     0.0     0.0
37               20                         0     0.0  ...     0.0     0.0
                 25                         3     0.0  ...     0.0     0.0
                 30                         3     0.0  ...     0.0     0.0
                 35                         5     0.0  ...     0.0     0.0
38               20                         1     0.0  ...     0.0     0.0
                 25                         2     0.0  ...     0.0     0.0
                 30                         1     0.0  ...     0.0     0.0
                 35                         7     0.0  ...     0.0     0.0
                 45                         0     0.0  ...     0.0     0.0
39               20                         1     0.0  ...     0.0     0.0
                 25                        12     0.0  ...     0.0     0.0
                 35                        28     0.0  ...     0.0     0.0
40               20                         1     0.0  ...     0.0     0.0
                 25                         4     0.0  ...     0.0     0.0
                 35                        13     0.0  ...     0.0     0.0
41               10                         1     0.0  ...     0.0     0.0
                 22                         0     0.0  ...     0.0     0.0
                 25                         7     0.0  ...     0.0     0.0
                 30                         1     0.0  ...     0.0     0.0
                 35                        18     0.0  ...     0.0     0.0
42               20                         0     0.0  ...     0.0     0.0
                 25                         9     0.0  ...     0.0     0.0
                 30                         1     0.0  ...     0.0     0.0
                 35                        45     0.0  ...     0.0     0.0
43               25                         5     0.0  ...     0.0     0.0
                 32                         0     0.0  ...     0.0     0.0
                 35                        13     0.0  ...     0.0     0.0
44               10                         0     0.0  ...     0.0     0.0
                 20                         0     0.0  ...     0.0     0.0
                 25                         8     0.0  ...     0.0     0.0
                 34                         0     0.0  ...     0.0     0.0
                 35                        32     0.0  ...     0.0     0.0
                 45                         0     0.0  ...     0.0     0.0
45               5                          0     0.0  ...     0.0     0.0
                 10                         0     0.0  ...     0.0     0.0
                 25                         9     0.0  ...     0.0     0.0
                 30                         2     0.0  ...     0.0     0.0
                 35                        56     0.0  ...     0.0     0.0
                 45                         1     0.0  ...     0.0     0.0
46               25                         2     0.0  ...     0.0     0.0
                 34                         0     0.0  ...     0.0     0.0
                 35                        23     0.0  ...     0.0     0.0
                 45                         1     0.0  ...     0.0     0.0
47               20                         1     0.0  ...     0.0     0.0
                 25                         5     0.0  ...     0.0     0.0
                 35                        23     0.0  ...     0.0     0.0
                 45                         0     0.0  ...     0.0     0.0

                         EARN 5  EARN 6  EARN 7  EARN 8  EARN 9  EARN 10  \
week_of_the_year amount
35               33         0.0     0.0     0.0     0.0     0.0      0.0
36               1          0.0     0.0     0.0     0.0     0.0      0.0
                 20         0.0     0.0     0.0     0.0     0.0      0.0
37               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 30         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
38               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 30         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
                 45         0.0     0.0     0.0     0.0     0.0      0.0
39               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
40               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
41               10         0.0     0.0     0.0     0.0     0.0      0.0
                 22         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 30         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
42               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 30         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
43               25         0.0     0.0     0.0     0.0     0.0      0.0
                 32         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
44               10         0.0     0.0     0.0     0.0     0.0      0.0
                 20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 34         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
                 45         0.0     0.0     0.0     0.0     0.0      0.0
45               5          0.0     0.0     0.0     0.0     0.0      0.0
                 10         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 30         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
                 45         0.0     0.0     0.0     0.0     0.0      0.0
46               25         0.0     0.0     0.0     0.0     0.0      0.0
                 34         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
                 45         0.0     0.0     0.0     0.0     0.0      0.0
47               20         0.0     0.0     0.0     0.0     0.0      0.0
                 25         0.0     0.0     0.0     0.0     0.0      0.0
                 35         0.0     0.0     0.0     0.0     0.0      0.0
                 45         0.0     0.0     0.0     0.0     0.0      0.0

                         EARN 11  EARN 12
week_of_the_year amount
35               33          0.0      0.0
36               1           0.0      0.0
                 20          0.0      0.0
37               20          0.0      0.0
                 25          0.0      0.0
                 30          0.0      0.0
                 35          0.0      0.0
38               20          0.0      0.0
                 25          0.0      0.0
                 30          0.0      0.0
                 35          0.0      0.0
                 45          0.0      0.0
39               20          0.0      0.0
                 25          0.0      0.0
                 35          0.0      0.0
40               20          0.0      0.0
                 25          0.0      0.0
                 35          0.0      0.0
41               10          0.0      0.0
                 22          0.0      0.0
                 25          0.0      0.0
                 30          0.0      0.0
                 35          0.0      0.0
42               20          0.0      0.0
                 25          0.0      0.0
                 30          0.0      0.0
                 35          0.0      0.0

In [26]:
df.dtypes

Signupdate                             object
Agency Name                            object
Fundraiser full name                   object
Campaign Country                       object
team                                   object
Team Campaign Manager's first name     object
Pledge ID                               int64
Method of Fundraising                 float64
Team Location                         float64
Team Location Longitude               float64
Team Location Latitude                float64
currency                               object
amount                                  int64
age                                     int64
gender                                 object
Email delivery status                  object
SMS Delivery Status                    object
SupporterPaymentmethod                 object
Card Brand                             object
Card Type                              object
Card Level                             object
Supporter Payment Frequency            object
First payment Instant                 float64
Bank or Card Issuer                    object
Campaign's Charity Name                object
Cancelled Reason                      float64
Cancellation Category                  object
Cancellation Outcome                   object
Final Call Outcome                     object
Pledge Status                          object
Validation Outcome                     object
Supporter State                        object
Supporter Country                      object
Consumer Price Index                    int64
EARN 1                                float64
EARN 2                                float64
EARN 3                                float64
EARN 4                                float64
EARN 5                                float64
EARN 6                                float64
EARN 7                                float64
EARN 8                                float64
EARN 9                                float64
EARN 10                               float64
EARN 11                               float64
EARN 12                               float64
dtype: object

In [ ]:
#Q5) Reduce this set to 20% of the donations meeting the following criteria-
# 1) Donation is done using debit cards. 
# 2) Percentage of women donors is 60%